@page
@model IndexModel
@using System.Net.Http;
@{
    ViewData["Title"] = "Home page";
}


<h1 class="display-4">Infinite Wordle</h1>
<h5>Your score increases for every correct guess.</h5>

<h5>If you guess wrong, you'll start over!</h5>
<body>

    

        <form method="post">
        <br />
        <input type="text" data-val="true"
        data-val-length="Guess a 5 letter word!"
        data-val-length-max="5" data-val-required="Please take a guess!"
        maxlength="5" minlength="5" autocomplete="off" autofocus="autofocus"
        name="guessWord"   />
        <input type="submit" value="Guess!"/>
        </form>

        <br>

    @if (HttpMethods.IsGet(Request.Method))
    {

    }

    @if (HttpMethods.IsPost(Request.Method))
        {
        if (!string.IsNullOrEmpty(Request.Form["guessWord"]))
        {
        int gameTries = Convert.ToInt32(HttpContext.Session.GetString("guess"));
        for(int i = 1; i <= gameTries; i++)
        {
            string oldGame = HttpContext.Session.GetString("game" + i)!;
            <div class="grid-container">
            @Html.Raw(oldGame)
            </div>
        }
        string guessWord = Request.Form["guessWord"]!;
            string displayResponse = Model.theGame(guessWord);
            <div class="grid-container">
            @Html.Raw(displayResponse)
            </div>
        }
        string keyWord = Request.Form["guessWord"]!;

    }
    <h2 class="topright">SCORE: @HttpContext.Session.GetString("score")</h2>

    @if (Model.showNext)
    {
        Model.startGame();
        <form>
        <button type="submit" method="post" autofocus="autofocus" name = "guessWord" onclick="location.reload(true)">Next Word!</button>
        </form>
    }
</body>